%h1 Capstone Daily Checkin
%nav
  %section
    %h2 Checkins By Student
    %ul= render partial: 'shared/students', locals: { students: @students }
  %section
    %h2 Checkins By Date
    %ul= render partial: 'shared/dates', locals: { dates: @dates }
  %section
    %h2 Checkins By Class
    %ul= render partial: 'shared/cohort', locals: { students: @students, cohorts: @cohorts }
