%li= link_to "Recent", root_path
- students.each do |student|
  - if student.cohort.upcase == ENV['CLASS_ONE']
    %li= link_to student.name, student_path(student), class: 'class-one'
  - elsif student.cohort.upcase == ENV['CLASS_TWO']
    %li= link_to student.name, student_path(student), class: 'class-two'
  - else 
    %li= link_to student.name, student_path(student), class: 'class-three'
