@import "normalize";
@import "bourbon";
@import "neat";
@import "base/base";

@import "nav";
@import "flexboxes";

html { font-size: 16px/1.2 }

header {
  background: lighten($blue, 50%);
  border-bottom: $base-border;
  overflow: auto;
  margin: 0 0 1rem;
}

main {
  @include outer-container;
}

footer {
  background: lighten($blue, 50%);
  border-top: $base-border;

  a { display: block;}
}

.content {
  @include outer-container;
  padding: 2rem 0;
}
